@font-face {
    font-family: funFont;
    src: url(../font/Asam_Kelubi.ttf);
  }
html, body {
    margin:0;
    background-color: #fff;
}
body {
    color: #000;
    margin: 0 auto;
    max-width: 900px;
}
.container {
    width: 100%;
    margin: 0 auto;
    background-image: url(../images/background-game.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
    padding-top: 591px;
    display: block;
    background-position: center bottom;
    background-color: #a6adb5;
}

h1 {
    font-family: funFont;
    font-size: 1.75em;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 20px;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    position: absolute;
    top: 11%;
    left: 0;
    right: 0;
    margin: 10px 20px;
}

p {
    margin: 0 20px;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
}
.results-container{
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    margin: 0 20px;
    font-size: 1.2em;
}

#random-number {
    font-family: funFont;
    font-size: 1.5em;
    vertical-align: middle;
}
#alert-user {
    color: red;
    margin-top:10px;
}
.message-container {
    margin:10px 0;
}
.results-box {
    font-size:1em;
}
#bone-container {
    overflow: hidden;
    clear: both;
    position: absolute;
    top: 66.5%;
    left: 62.5%;
    right: 0;
    z-index: 1000;
}
.bone {
    float:left;
}
.bone img {
    width:22px;
    height:auto;
}

footer {
    padding: 20px 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    text-align:center;
    margin: 0 auto;
}

@media only screen and (min-width: 320px) {

    #bone-container {
        top: 64.5%;
    }

}
@media only screen and (min-width: 350px) {

    #bone-container {
        top: 62.5%;
    }

}

@media only screen and (min-width: 360px) {
    .results-container {
        top: 43%;
    }
    .bone img {
        width:25px;
    }
    #bone-container {
        top: 60.5%;
    }

}

@media only screen and (min-width: 375px) {

    #bone-container {
        top: 59.5%;
    }

}

@media only screen and (min-width: 400px) {
    #bone-container {
        top: 55.5%;
        left: 63.5%;
    }
}

@media only screen and (min-width: 565px) {
    .results-container {
        top: 40%;
    }
    .bone img {
        width:40px;
    }
    #bone-container {
        top: 38.5%;
    }
}

@media only screen and (min-width: 640px) {
    .results-container {
        top: 40%;
    }
    .bone img {
        width:35px;
    }
    #bone-container {
        top: 41.5%;
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 2.5em;
    }
    .results-container {
        top: 37%;
    }
    .bone img {
        width: 48px;
    }
    #bone-container {
        top: 22%;
        left: 63.25%;
    }
    p {
        max-width: 50%;
        top: 20%;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        background-size: cover;
        padding-top: 700px;
    }
    .bone img {
        width: 55px;
    }
    #bone-container {
        top: 18%;
        left: 64.25%;
    }
}